/* Iphone 5 */
@media(max-width: 575.98px){

body{
	margin: 0%;
}
.jumbotron h1{
	font-size: 30px;
}
.header-style-two .main-box .logo-box .logo img {
	display: none;
}
.header-style-two{
	margin-left: 40px;
}
/** Featured book**/ 

#responsiveFeatured{
	display: block;
	justify-content: center;
}

.featured-book .subtitle{
	margin-right: 220px;
	left: 90px;
	border-bottom: 2px solid black 
}

.featured-book .subtitle:after{
	border: none;
}

.featured-book .book-title{
	position: relative;
	left: -23px;
	top: 0px;
	font-size: 30px;
	position: relative;
	text-justify: auto;
}


.featured-book .detail-column .inner-box{
	display: flex;
	flex-direction: column;
	padding: 0px;
	align-items: center;
}


.featured-book .written-by{
	position: relative;
	left: -100px;
}

/** Best Sellers**/

.clearfix{
	position:relative;
		left:0px;
		top:0px;
		width:100%;
		height:auto;
		margin:0px;	
}
.book-item-box{
	width:100%;	
}

.resAuthor{
	position: relative;
	left: -90px;
}

.news-style-two.list-style .inner-box{
	padding-left:0px;
	min-height:0px;	
}

.news-style-two.list-style .inner-box .image-box{
	position:relative;
	left:0px;
	top:0px;
	width:100%;
	height:auto;
	margin:0px;	
}

}
/** Iphone 6/7/8 **/









